<%-include('partials/head') %>
<%-include('partials/nav') %>


<body>

    <div class="d-flex container-fluid justify-content-end">

    </div>
    <p></p>
    
    <%-include('partials/homeSmall') %>
    <%-include('partials/homeLg') %>
    <%-include('partials/homeXLarge') %>

    

</body>

</html>